<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Radiant Promises</title>

    {% load static %}
    {% load sass_tags %}
    
    <link
    rel="shortcut icon"
    href="{% static 'img/small_logo.jpg' %}"
    type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link href="{% sass_src 'sass/global.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'sass/homepage.scss' %}" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/global.js' %}"></script>
    <input id="Page" type="hidden" value="{{page}}" />
  </head>
  <body>
    <nav>{% include "components/navbar.html" %}</nav>
    <div class="container">
      <div class="jumbotron">
        <img src="{% static 'img/Cover.jpg' %}" alt="" />
      </div>
      <section class="jumbotext">
        <div>Join Us</div>
        <div>Abolish Human Trafficking</div>
        <div>and Homelessness!</div>
        <div>Help Restore the Whole Person</div>
      </section>
      <section class="action-banner">
        <a href="/about" class="mission-button">
          <h2>Our Mission</h2>
          <div class="action-text">Our Goal, Vision & Commitment</div>
        </a>
        <a href="/events" class="events-button">
          <h2>Our Events</h2>
          <div class="action-text">Register & Help Make a Change</div>
        </a>
        <a href="/donations" class="involvement-button">
          <h2>Get Involved</h2>
          <div class="action-text">Volunteer, Participate, or Donate</div>
        </a>
      </section>
      <section class="news">
        <h1>News</h1>
        <p class="news-description">
          More than 23,000 children will age out of the U.S. foster care system
          every year. Estimates suggest that about 50,000 people are
          sex-trafficked in the U.S each year.
        </p>
        <div class="stories">
          <div class="news-box">
            <img class="news-pic" src="{% static 'img/Turned 18.jpg' %}" alt="">
            <div class="news-title">
              Turned 18 - Abandoned A...
            </div>
          </div>
          <div class="news-box">
            <img class="news-pic" src="{% static 'img/Hands Tied.jpg' %}" alt="">
            <div class="news-title">
              Sex Trafficked / Slavery
            </div>
          </div>
          <div class="news-box">
            <img class="news-pic" src="{% static 'img/Lonely Boy.jpg' %}" alt="">
            <div class="news-title">
              Aging-Out of Foster Care
            </div>
          </div>
        </div>
        <button>Read More</button>
      </section>
      <section class="quotes banner">
        <h3>Our greatest American Asset is our Children!</h3>
        <br>
        <h3>
          "When the righteous thrive, the people rejoice; when the wicked rule,
          the people groan."
        </h3>
        <br>
        <p>Proverbs 29:2</p>
      </section>
      
      <section class="events">
        <h1 ">2020 Upcoming Events</h1>
        <div class="event"></div>
      </section>
      <section class="join-us">
        <div class="join-left">
          <div class="join-header">Join Us</div>
          <h3>Rescue & Empower</h3>
          <h3>America's Youth Today</h3>
          <button>Donate Now</button>
        </div>
        <div class="join-right">
          <img
            src="https://static.wixstatic.com/media/84770f_6d8f65290fd8480282082b66ac697efa~mv2_d_8688_5792_s_4_2.jpeg/v1/fill/w_586,h_525,al_c,q_80,usm_0.66_1.00_0.01/84770f_6d8f65290fd8480282082b66ac697efa~mv2_d_8688_5792_s_4_2.webp"
            alt=""
          />
        </div>
      </section>
      <section>{% include "components/quicklinks.html" %}</section>
      <footer>{% include "components/footer.html" %}</footer>
    </div>
  </body>
</html>
