<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Radiant Promises</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage.css' %}" />
  </head>
  <body>
    <nav>
      <div class="nav-left">
        <div class="logo">
          <img src="" alt="Logo" />
        </div>
        <div class="slogan">
          <h3>Radiant Promises</h3>
          <p>Help Every Child's Light Shine!</p>
        </div>
      </div>
      <div class="nav-center">
        <div class="nav-link">
          <a href="">Home</a>
        </div>
        <div class="nav-link">
          <a href="">About</a>
        </div>
        <div class="nav-link">
          <a href="">Our Target</a>
        </div>
        <div class="nav-link">
          <a href="">Support Us</a>
        </div>
        <div class="nav-link">
          <a href="">Events</a>
        </div>
        <div class="nav-link">
          <a href="">Contact</a>
        </div>
      </div>
      <div class="nav-right">
        <button class="donate">Donate</button>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron">
        <img
          src="https://static.wixstatic.com/media/11062b_46af75a907db4cfb945f0c8b989c3b60~mv2_d_7570_5046_s_4_2.jpg/v1/fill/w_980,h_882,al_c,q_85,usm_0.66_1.00_0.01/11062b_46af75a907db4cfb945f0c8b989c3b60~mv2_d_7570_5046_s_4_2.webp"
          alt=""
        />
      </div>
      <section class="jumbotext">
        <h1>Join Us</h1>
        <h1>Abolish Human Trafficking</h1>
        <h1>and Homelessness!</h1>
        <h1>Help Restore the Whole Person</h1>
      </section>
      <section class="banner">
        <div class="mission-banner">
          <h4>Our Mission</h4>
          <h6>Our Goal, Vision & Commitment</h6>
        </div>
        <div class="events-banner">
          <h4>Our Events</h4>
          <h6>Register & Help Make a Change</h6>
        </div>
        <div class="involvement-banner">
          <h4>Get Involved</h4>
          <h6>Volunteer, Participate, or Donate</h6>
        </div>
      </section>
      <section class="news centerText">
        <h1>News</h1>
        <p>
          More than 23,000 children will age out of the U.S. foster care system
          every year. Estimates suggest that about 50,000 people are
          sex-trafficked in the U.S each year.
        </p>
        <div class="news-stories">
          <div class="news-box"></div>
          <div class="news-box"></div>
          <div class="news-box"></div>
        </div>
        <button>Read More</button>
      </section>
      <section class="quotes centerText">
        <p>Our greatest American Asset is our Children!</p>
        <p>
          "When the righteous thrive, the people rejoice; when the wicked rule,
          the people groan."
        </p>
      </section>
      <section class="events">
        <h1 class="centerText">2020 Upcoming Events</h1>
        <div class="event"></div>
      </section>
      <section class="join-us">
        <div class="join-left">
          <h1>Join Us</h1>
          <h3>Rescue & Empower</h3>
          <h3>America's Youth Today</h3>
          <button>Donate Now</button>
        </div>
        <div class="join-right">
          <img src="https://static.wixstatic.com/media/84770f_6d8f65290fd8480282082b66ac697efa~mv2_d_8688_5792_s_4_2.jpeg/v1/fill/w_586,h_525,al_c,q_80,usm_0.66_1.00_0.01/84770f_6d8f65290fd8480282082b66ac697efa~mv2_d_8688_5792_s_4_2.webp" alt="">
        </div>
      </section>
      <section class="bottom-info">
        <div class="promises">
          <h4>Radiant Promises</h4>
          <p>Radiant Promises is a non-profit  organization designed to circumvent homelessness and hopelessness in

            at-risk youth. The program provides housing and empowering education for young adults ages 18-24 who have aged out of the foster care system and youth who have been rescued from sex-trafficking in need of both a home, healing and a fresh new start in life.</p>
        </div>
        <div class="updates">
          <h4>Get Monthly Updates</h4>
        </div>
        <div class="links">
          <h4>Quick Links</h4>
        </div>
      </section>
      <footer>
        <p class="centerText">2023 by Radiant Promises, Inc.</p>
      </footer>
    </div>
  </body>
</html>
