<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
</head>
<body>
  <div class="nav-items">
    <div class="nav-left">
      <img
        class="small-logo"
        src="{% static 'img/small_logo.jpg' %}"
        alt=""
      />
      <div class="slogan">
        <h4>Radiant Promises</h4>
        <h6>Help Every Child's Light Shine!</h6>
      </div>
    </div>
    <div class="nav-center">
      <div class="nav-links">
        <a class="nav-link current-page" href="/">Home</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/our_target">Our Target</a>
        <a class="nav-link" href="/support">Support Us</a>
        <a class="nav-link" href="/events">Events</a>
        <a class="nav-link" href="/contact">Contact</a>
      </div>
      <div class="menu-toggle">&#9776;</div>
    </div>
    <div class="nav-right">
      <!-- <a class="cart-button" href="/donations/cart"
        >Cart {{items_in_cart}}</a
      > -->
      <!-- <button class="cart">Cart</button> -->
    </div>
  </div>
</body>
</html>