<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Target | Radiant Promises</title>
    {% load static %}

    <link
      rel="shortcut icon"
      href="{% static 'img/small_logo.jpg' %}"
      type="image/x-icon"
    />

    <!-- STYLE SHEETS -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    {% load compress %}

    {% compress css %}
      <link type="text/x-scss" href="{% static 'bootstrap/bootstrap.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    <!-- <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}" /> -->

    <!-- SCRIPTS -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/current_priorities.js' %}" defer></script>

    <!-- Current Page Reference -->
    <script src="{% static 'js/global.js' %}"></script>
    <input id="Page" type="hidden" value="{{page}}" />
  </head>
  <body>
    <nav>
      <nav>{% include "navbar.html" %}</nav>
    </nav>
    <div class="container">
      <section class="banner top-banner">
        <h1>The At-Risk Youth Crisis</h1>
      </section>
      <section class="banner">
        <div class="bottom-banner">{% include "bottom_banner.html" %}</div>
      </section>
      <section>{% include "quicklinks.html" %}</section>
      <footer>{% include "footer.html" %}</footer>
    </div>
  </body>
</html>
