<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} {% load compress %} {% load sass_tags %}
    
    <link href="{% sass_src 'sass/navbar.scss' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="nav-items">
      <div class="nav-left">
        <a href="/">
          <img
            class="small-logo"
            src="{% static 'img/small_logo.jpg' %}"
            alt=""
          />
        </a>
        <div class="slogan">
          <a href="/">
            <div id="slogan-title">Radiant Promises</div>
            <div id="slogan-text">Help Every Child's Light Shine!</div>
          </div>
        </a>
      </div>
      <div class="nav-center">
        <div class="menu-toggle">&#9776;</div>
        <div class="nav-links">
          <a class="nav-link" id="home" href="/">Home</a>
          <a class="nav-link" id="about" href="/about">About</a>
          <a class="nav-link" id="our_target" href="/our_target">Our Target</a>
          <a class="nav-link" id="support" href="/donations">Support Us</a>
          <a class="nav-link" id="events" href="/events">Events</a>
          <a class="nav-link" id="contact" href="/contact">Contact</a>
        </div>
      </div>
      <div class="nav-right">
        <a href="{{donationsPage}}">
          <button id="donate-button">Donate</button>
        </a>
      </div>
    </div>

    <!-- <div class="drop-down-menu">Hello</div> -->
  </body>
</html>
