<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <div class="quick-links">
      <div class="quick-links-item description">
        <h6>Radiant Promises</h6>
        <p>
          Radiant Promises is a non-profit organization designed to circumvent
          homelessness and hopelessness in at-risk youth. The program provides
          housing and empowering education for young adults ages 18-24 who have
          aged out of the foster care system and youth who have been rescued
          from sex-trafficking in need of both a home, healing and a fresh new
          start in life.
        </p>
        <br>
        <ul>
          <li><b>Email: <span>contact@radiantpromises.com</span></b></li>
          <li><b>Phone: <span>760-532-3540</span></b></li>
          <li><b>Registered Charity: <span>501(c)(3)</span></b></li>
        </ul>
      </div>
      <div class="quick-links-item subscribe">
        <h6>Get Monthly Updates</h6>
        <input type="text" placeholder="Enter your email here" />
        <button>Sign Up!</button>
      </div>
      <div class="quick-links-item links">
        <h6>Quick Links</h6>
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">Support Us</a></li>
          <li><a href="">News</a></li>
          <li><a href="">Events</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
