* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

a {
  text-decoration: none; }

/* FONTS */
@font-face {
  font-family: Avenir;
  src: local("Avenir"), url("../fonts/Avenir.ttc") format("truetype"); }

/*    Replacement for Avenir */
@font-face {
  font-family: Metropolis;
  src: local("Metropolis"), url("../fonts/Metropolis-Light.otf") format("truetype"); }

@font-face {
  font-family: Raleway;
  src: local("Raleway"), url("../fonts/Raleway-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: Poppins-EL;
  src: local("Poppins-EL"), url("../fonts/Poppins-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: Poppins-RG;
  src: local("Poppins-RG"), url("../fonts/Poppins-Regular.ttf") format("truetype"); }

@font-face {
  font-family: Poppins-SB;
  src: local("Poppins-SB"), url("../fonts/Poppins-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: Futura-LT;
  src: local("Futura-LT"), url("../fonts/FuturaLT.ttf") format("truetype"); }

@font-face {
  font-family: Avenir;
  src: local("Avenir"), url("../fonts/Avenir.ttc") format("truetype"); }

/* HTML TAGS */
button {
  background-color: #ec5f87;
  border: none;
  color: white; }

h1 {
  font-size: 70px;
  font-family: Poppins-SB; }

h2 {
  font-size: 40px;
  font-family: Poppins-SB; }

h3 {
  font-size: 34px;
  font-family: Avenir; }

h4 {
  font-size: 30px;
  font-family: Poppins-SB; }

h5 {
  font-size: 28px;
  font-family: Poppins-SB; }

h6 {
  font-size: 20px;
  font-family: Poppins-SB; }

.bold {
  font-weight: 900; }

.notBold {
  font-weight: 400; }

.centerText {
  text-align: center; }

/* BANNERS */
.banner {
  color: white;
  background-color: #203e8c;
  text-align: center; }

/*  - Top Banner */
.top-banner {
  height: 200px;
  font-family: Poppins-SB;
  padding: 50px; }

/*   - Action Banner */
.action-text {
  font-size: 18px;
  font-family: Avenir; }

/*  - Bottom Banner */
.bottom-banner {
  font-family: Avenir;
  margin: auto;
  padding: 42px 20px 20px 20px; }

#bottom-banner-button {
  margin-top: 22px;
  color: black;
  background-color: white;
  width: 179px;
  font-family: Poppins-EL;
  font-size: 16px; }

/* QUICK LINKS FOOTER */
.quick-links {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto; }
  .quick-links * {
    text-align: left; }
  .quick-links ul {
    list-style: none; }
  .quick-links p,
  .quick-links span,
  .quick-links a {
    font-family: Avenir;
    font-size: 15px; }
  .quick-links h6 {
    margin: 5px 0px 5px 0px; }
  .quick-links .quick-links-item {
    display: inline-block;
    vertical-align: top;
    padding: 20px; }
    .quick-links .quick-links-item * {
      text-align: left; }
  .quick-links .description {
    width: 342px; }
    .quick-links .description h6 {
      margin-bottom: 19px; }
    .quick-links .description p {
      line-height: 25.5px; }
  .quick-links .subscribe {
    width: 500px; }
    .quick-links .subscribe input,
    .quick-links .subscribe button {
      width: 100%; }
    .quick-links .subscribe input {
      border-top: none;
      border-right: none;
      border-left: none;
      padding: 5px;
      margin-bottom: 20px; }
    .quick-links .subscribe button {
      height: 40px;
      font-size: 16px;
      font-family: Poppins-EL;
      font-weight: 700;
      text-align: center; }
  .quick-links .links {
    width: 200px;
    padding-left: 5px; }
    .quick-links .links ul {
      line-height: 2.6em; }
    .quick-links .links a {
      text-decoration: none;
      color: black; }

footer {
  background-color: #101f46; }

.footer-items {
  padding: 11px;
  margin: auto;
  width: 305px;
  color: white;
  font-size: 13px;
  font-family: Avenir; }

#footer-link {
  color: white;
  margin-right: 10px; }

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 6vw; }
  h3 {
    font-size: 4vw; }
  h4, h5 {
    font-size: 2.5vw; }
  .top-banner {
    padding: 4vw;
    height: auto; }
  .bottom-banner {
    padding: 5vw 2.5vw 5vw 2.5vw; }
  #bottom-banner-button {
    margin-top: 4vw; } }

@media only screen and (max-width: 900px) {
  .quick-links {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%; }
    .quick-links .quick-links-item * {
      text-align: center; }
    .quick-links .description {
      width: 100%; }
    .quick-links .subscribe {
      width: 100%; }
    .quick-links .links {
      display: none; } }

/*# sourceMappingURL=global.css.map */