* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

input{
  border: solid gray 1px;
  border-radius: 5px;
}

input[type="checkbox"], .checkbox {
  border: solid 1px blue;
}

.border1 {
  border: solid red 1px;
}

.border2 {
  border: solid blue 1px;
}

.centerText {
  text-align: center;
}

.container {
  margin: auto;
  /* width: 500px; */
  /* min-height: 500px; */
  /* border: solid red 1px; */
}

.section-spacer{
  height: 1000px;
  width: 1000px;
}

.monetary {
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.back-link{
  text-decoration: none;
  color: black;
}

.back-text{
  display: inline-block;
}

.reoccuring {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.reoccuring div {
  padding: 5px;
}

.reoccuring div > * {
  display: inline-block;
  vertical-align: middle;
}

.checkbox {
  border: solid grey 1px;
  width: 15px;
  height: 15px;
  border-radius: 5px;
}

.checked {
  background-color: #ec5f87;
}

.phase-header {
  width: 100%;
  /* height: 50px; */
  border: solid grey 1px;
  background-color:  #ec5f87;
  padding: 1%;
  /* display: flex;
  justify-content: space-between; */
}

[class*="phase-content-"] {
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 20px 20px 20px;
}
.phase-content-current {
  display: flex;
}

.phase-content-inactive {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 20px 20px 20px;
}

.types,
.prices {
  min-width: 300px;
  display: inline-block;
  width: 48%;
  padding: 20px;
  margin-top: 20px;
}

@media only screen and (max-device-width: 768px) {
  .types,
  .prices {
    width: 100%;
  }
}

.card {
  margin-top: 10px;
}

.card-header {
  color: white;
  width: 100%;
  height: 50px;
  background-color: #045091;
  border: solid grey 1px;
  border-radius: 5px;
  padding: 3%;
  display: flex;
  justify-content: space-between;
}

.arrow-small {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-large {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
}

.black{
  border: solid black;
  border-width: 0 3px 3px 0;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.card-body {
  width: 100%;
  display: block;
  /* border-style: solid; */
  /* border-color: grey; */
  /* border-width: 0px 1px 1px 1px; */
  padding: 5px;
}

.price-header {
  margin-top: 10px;
  margin-bottom: 5px;
}

.item {
  display: inline-block;
}

.item-body-info{
  padding: 5px;
  border: solid #045091 1px;
  border-radius: 5px;
}

.item-header {
  border: solid grey 1px;
  border-radius: 5px;
  height: 20px;
  display: inline-block;
  padding: 5px;
  line-height: 8px;
}

.item-body {
  display: none;
  padding: 5px 5px 10px 5px;
  margin-bottom: 15px;
  border-bottom: solid 1px gray;
}

.item-body-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.item-body-title {
  display: inline-block;
}

.item-body-image {
  height: 60px;
  width: 60px;
  border: solid black 1px;
  border-radius: 5px;
}

.item-body-image-portrait {
  height: 60px;
  width: 90px;
  border: solid black 1px;
  border-radius: 5px;
}

.item-body-action {
  margin-top: 10px;
  min-width: 300px;
  width: 100%;
  line-height: 25px;
}

.item-body-action form{
  width: 100%;
  border: solid 1px #EC5F87;
  padding: 5px;
  border-radius: 5px;
}

.partial-amount-titles{
  width: 66%;
  margin-left: 33%;
}

.partial-amount-input{
  text-align: center;
  width: 32%;
  display: inline-block;
}

.partial-amount-input input{
  text-align: center;
  width: 70px;
}

.partial-amount-label{
  width: 33%;
  text-align: center;
}

/* .reoccuring{

} */

.number {
  text-align: center;
}

.add-to-cart-button{
 float: right; 
}


.flex-between{
  display: flex;
  justify-content: space-between;
}

.inline-block{
  display: inline-block;
}