* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: Dancing;
  src: local("Dancing"),
    url("../fonts/DancingScript-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Lobster;
  src: local("Lobster"), url("../fonts/Lobster-Regular.ttf") format("truetype");
}

.hidden{
  display: none;
}


.container {
  text-align: center;
  padding: 20px 5px 5px 5px;
}

.container h1 {
  font-family: Dancing;
  font-size: 40px;
  color: #ec5f87;
  border-bottom: solid gray 2px;
  max-width: 400px;
  margin: auto;
}

.priority-display {
  width: 50vw;
  height: 33vw;
  padding: 10px 10px 7px 10px;
  margin: auto;
  margin-top: 40px;
  border-radius: 1vw;
  -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);
  box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);
}

#priority-video {
  width: 100%;
  height: 100%;
}
.action {
  width: 45vw;
  padding: 10px 0px 20px 0px;
  line-height: 25px;
  margin: 50px auto 20px auto;
  -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.29);
  box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.29);
  border: solid 1px #ec5f87;
  border-radius: 5px;
}

.progress-bar {
  height: 25px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 5px auto 0px auto;
  border: solid black 1px;
  border-radius: 15px;
}

.progress {
  display: inline-block;
  height: 100%;
  background-color: #74d773;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.progress-number {
  position: relative;
  top: 21px;
  left: -18px;
  height: 20px;
  width: 1px;
  font-size: 12px;
  font-weight: bold;
}

.leftover {
  display: inline-block;
  height: 100%;
  background-color: #ec5f87;
  opacity: 0.5;
  color: black;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.action form {
  width: 100%;
  padding: 10px;
}

.give-buttons {
  margin: 30px 0px 20px 0px;
  display: flex;
  justify-content: space-around;
}

.give-button {
  display: inline-block;
  color: white;
  padding: 10px;
  width: 75px;
  background-color: #045091;
  opacity: 0.9;
  border: solid gray 1px;
  border-radius: 5px;
}

.amount {
  position: relative;
  right: 5px;
}

#giveAmount {
  width: 60px;
  text-align: center;
  border: solid 1px gray;
  border-radius: 5px;
}

.partial-amount-bar {
  margin-top: 5px;
}
.partial-amount-titles {
  text-align: center;
}

.partial-amount-input {
  text-align: center;
  width: 32%;
  display: inline-block;
}

.partial-amount-input input {
  text-align: center;
  width: 70px;
}

.partial-amount-label {
  width: 33%;
  text-align: center;
}

.number {
  text-align: center;
}

.submit-bar {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.submit-item {
  width: 120px;
}

.reoccuring {
  padding: 3px;
}

.checkbox {
  display: inline-block;
  border: solid grey 1px;
  width: 15px;
  height: 15px;
  border-radius: 5px;
}

.checked {
  background-color: #ec5f87;
}

.go-to-payment {
  color: white;
  padding: 7px;
  background-color: #045091;
  opacity: 0.9;
  border: solid gray 1px;
  border-radius: 5px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.inline-block {
  display: inline-block;
}

.how-to-give {
  margin: 40px 0px 40px 0px;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.giving-type {
  width: 30%;
  text-align: justify;
}

.giving-header {
  font-family: Lobster;
  color: #045091;
}

.how-to-give .row {
  margin-top: 30px;
}

@media only screen and (max-width: 1000px) {
  .priority-display {
    height: 60vw;
  }

  .priority-display,
  .action {
    width: 90vw;
  }

  .row {
    flex-direction: column;
    align-content: center;
  }

  .giving-type {
    width: 100%;
  }

  .how-to-give h1 {
    margin-bottom: 20px;
  }

  .how-to-give .row {
    margin: auto;
    width: 60vw;
    margin-top: 0px;
  }

  .giving-header {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 550px) {
  .how-to-give .row {
    width: 90vw;
  }
}

@media only screen and (max-width: 400px) {
  .give-button {
    width: 50px;
  }
}

#apple-pay-element {
  -webkit-appearance: -apple-pay-button;
  -apple-pay-button-type: plain;
  -apple-pay-button-style: black;
  -apple-pay-button-type: donate;
  width: 140px;
  height: 30px;
}

#pay-with-card {
  margin-top: 10px;
  width: 170px;
  height: 32px;
  background-color: #ec5f87;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#payment-form {
  display: none;
}

#card-element {
  height: 25px;
  width: 300px;
  padding: 5px;
  margin: 10px auto 5px auto;
  -moz-box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
}

#payment-submit-button{
  height: 25px;
  width: 300px;
  background-color: #045091; opacity: 0.8;
  color: white;
}

#powered-by-stripe{
  color: gray;
  font-size: 10px;
  height: 20px;
  padding-bottom: 5px;
  vertical-align: top;
}

.thank-you{
  height: 150px;
  padding: 50px;
}

@media only screen and (max-width: 400px) {
  #card-element,#payment-submit-button {
    width: 70vw;
  }
}
