$minWidth: 256px;
$navCenterPadding: 19px 0px 0px 0px;
$navRightPadding: 8px 0px 0px 0px;

@font-face {
    font-family: Poppins-EL;
    src: local('Poppins-EL'),
        url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: Poppins-L;
    src: local('Poppins-L'),
        url('../fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: Avenir;
    src: local('Avenir'), url('../fonts/Avenir.ttc') format('truetype');
}

.nav-items {
    display: flex;
    justify-content: space-between;
    border-bottom: solid grey 5px;
    min-height: 76px;
}

.nav-left {
    display: inline-block;
    min-width: $minWidth;
    margin-left: 163px;
    margin-top: 5px;

    .small-logo {
        display: inline-block;
        vertical-align: top;
        height: 55px;
        width: 65px;
    }

    .slogan {
        display: inline-block;
        padding: 10px;
        text-align: center;
    }

    #slogan-title {
        font-family: Poppins-L;
        font-size: 20px;
        font-weight: bold;
    }

    #slogan-text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        margin-top: -3px;
    }
}

.nav-center {
    vertical-align: top;
    padding: $navCenterPadding;
    margin-left: -240px;
    margin-top: 5px;

    .nav-links {
        min-width: 530px;
        display: flex;
        justify-content: space-between;
    }

    .nav-link {
        width: auto;
        color: black;
        text-decoration: none;
        margin: 0px 15px 0px 15px;
        font-family: Avenir;
        font-size: 16px;
    }

    .menu-toggle {
        display: none;
    }
}

.nav-right {
    // padding: $navRightPadding;

    #donate-button {
        background-color: #ec5e87;
        border: none;
        color: white;
        padding: 28px;
        width: 155px;
        font-size: 20px;
    }
}
