* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* FONTS */
@font-face {
  font-family: Avenir;
  src: local("Avenir"),
    url("../fonts/Avenir.ttc") format("truetype");
}


/*    Replacement for Avenir */
@font-face {
  font-family: Metropolis;
  src: local("Metropolis"),
    url("../fonts/Metropolis-Light.otf") format("truetype");
}

@font-face {
  font-family: Raleway;
  src: local("Raleway"),
    url("../fonts/Raleway-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: Poppins-EL;
  src: local("Poppins-EL"),
    url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: Poppins-SB;
  src: local("Poppins-SB"),
    url("../fonts/Poppins-SemiBold.ttf") format("truetype");
}

.bold {
  font-weight: 900;
}

/* HTML TAGS */

button {
  background-color: #ec5e87;
  border: none;
  color: white;
  padding: 10px;
}

h1{
  font-size: 70px;
}

h3{
  font-size: 34px;
}

h6 {
  font-size: 20px;
}

/* BANNERS */
.banner{
  color: white;
  background-color: #223D8C;
  text-align: center;
}

/*  - Top Banner */
.top-banner{
  height: 200px;
  font-family: Poppins-SB;
  padding: 50px;
}

/*  - Bottom Banner */
.bottom-banner{
  font-family: Avenir;
  width: 685px;
  margin: auto;
  padding: 42px 20px 20px 20px;
}

#bottom-banner-button{
  margin-top: 22px;
  color: black;
  background-color: white;
  width: 179px;
  font-family: Poppins-EL;
  font-size: 16px;
}



/* QUICK LINKS FOOTER */
.quick-links{
padding: 0px 80px 0px 80px;
}

.quick-links-item {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  padding: 20px;
}

.quick-links h6 {
  margin: 5px 0px 5px 0px;
}

.description {
  width: 285px;
}

.description h6 {
  margin-bottom: 19px;
}

.description p{
  line-height: 25.5px;
}

.subscribe {
  width: 500px;
}

.subscribe input,
.subscribe button {
  width: 100%;
}

.subscribe input {
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 5px;
  margin-bottom: 20px;
}

.subscribe button{
  height: 40px;
  font-size: 16px;
  font-family: Poppins-EL;
  font-weight: 700;
}

.links {
  width: 200px;
  padding-left: 5px;
}

.links ul {
  list-style: none;
  line-height: 2.6em;
}

.links a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #101f46;
}

.footer-items {
  padding: 11px;
  margin: auto;
  width: 310px;
  color: white;
  height: 50px;
  font-size: 13px;
}

#footer-link {
  color: white;
  margin-right: 10px;
}
