

/* .container, nav{
  min-width: 1260px;
} */

















/* QUICK LINKS FOOTER */

.quick-links *{
  text-align: left;
}

.quick-links {
  display: flex;
  justify-content: space-between;
  padding: 0px 80px 0px 80px;
}

.quick-links ul{
  list-style: none;
}

.quick-links p, .quick-links span, .quick-links a{
  font-family: Avenir;
  font-size: 15px;
}

.quick-links-item {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
}

.quick-links-item *{
  text-align: left;
}

.quick-links h6 {
  margin: 5px 0px 5px 0px;
}

.description {
  width: 342px;
}

.description h6 {
  margin-bottom: 19px;
}

.description p {
  line-height: 25.5px;
}

.subscribe {
  width: 500px;
}

.subscribe input,
.subscribe button {
  width: 100%;
}

.subscribe input {
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 5px;
  margin-bottom: 20px;
}

.subscribe button {
  height: 40px;
  font-size: 16px;
  font-family: Poppins-EL;
  font-weight: 700;
  text-align: center;
}

.links {
  width: 200px;
  padding-left: 5px;
}

.links ul {
  line-height: 2.6em;
}

.links a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #101f46;
}

.footer-items {
  padding: 11px;
  margin: auto;
  width: 310px;
  color: white;
  height: 50px;
  font-size: 13px;
  font-family: Avenir;
}

#footer-link {
  color: white;
  margin-right: 10px;
}
