

footer {
  background-color: #101f46;
}

.footer-items {
  padding: 11px;
  margin: auto;
  width: 310px;
  color: white;
  height: 50px;
  font-size: 13px;
  font-family: Avenir;
}

#footer-link {
  color: white;
  margin-right: 10px;
}
