@font-face {
  font-family: Poppins-EL;
  src: local("Poppins-EL"),
    url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: Poppins-L;
  src: local("Poppins-L"), url("../fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: Avenir;
  src: local("Avenir"), url("../fonts/Avenir.ttc") format("truetype");
}

/* DIV BOXES */

.nav-items {
  display: flex;
  justify-content: space-between;
  border-bottom: solid grey 5px;
  min-height: 76px;
}
.nav-left,
.nav-center,
.nav-right {
  display: inline-block;
}

.nav-left,
.nav-right {
  min-width: 256px;
}

.nav-center {
  padding: 25px 0px 0px 0px;
  vertical-align: top;
}

.nav-right {
  padding-left: 70px;
}

.centerText {
  text-align: center;
}

/* Nav Left */
.nav-left {
  padding: 10px;
}

.small-logo {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  width: 60px;
}

.slogan {
  display: inline-block;
  padding: 2px;
  text-align: center;
}

#slogan-title {
  font-family: Poppins-L;
  font-size: 20px;
  font-weight: bold;
}

#slogan-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

/* Nav Center */
.nav-links {
  min-width: 530px;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  width: auto;
  color: black;
  text-decoration: none;
  margin: 0px 15px 0px 15px;
  font-family: Avenir;
  font-size: 16px;
}

.menu-toggle {
  display: none;
  font-size: 40px;
}

/* Nav Right */
#donate-button {
  font-family: Poppins-L;
  font-size: 20px;
  background-color: #ec5e87;
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  height: 100%;
}

/* .donate,
.cart-button {
  color: white;
  height: 35px;
  padding: 0px 20px 0px 20px;
  border-radius: 5px;
  border-color: white;
  background-color: #ec5f87;
} */

/* Media Breaks */
@media only screen and (max-width: 1100px) {
  .nav-links {
    display: none;
  }
  .menu-toggle {
    display: inline-block;
  }

  .nav-center{
    padding-top: 5px;
  }
  /* .nav-left,
  .nav-right {
    min-width: 65px;
  } */
}

@media only screen and (max-width: 900px){
  /* .slogan {
    display: none;
  } */
}

/* @media only screen and (max-width: 812px) {
  .slogan{
    display: none;

  }
} */

/* @media only screen and (max-width: 730px) {
  .nav-links{
    display: none;
  }
  .menu-toggle{
    display: inline-block;
  }

  .nav-center{
    display: flex;
    justify-content: center;
    min-width: 25px;
  }
  .nav-left,.nav-right{
    min-width: 55px;
  }
} */
