$minWidth: 256px;
$navCenterPadding: 25px 0px 0px 0px;
$navRightPadding: 0px 0px 0px 70px;
$primary-color: #ec5f87;
$dark-text: black;

@font-face {
  font-family: Poppins-EL;
  src: local("Poppins-EL"),
    url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: Poppins-L;
  src: local("Poppins-L"), url("../fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: Avenir;
  src: local("Avenir"), url("../fonts/Avenir.ttc") format("truetype");
}

.centerText {
  text-align: center;
}

// DIV BOXES

.nav-items {
  display: flex;
  justify-content: space-between;
  border-bottom: solid grey 5px;
  min-height: 76px;
  text-align: center;
}

// Nav Left
.nav-left {
  display: inline-block;
  min-width: $minWidth;
  padding: 10px;
  margin-top: 5px;
  
  .small-logo {
    display: inline-block;
    vertical-align: top;
    height: 50px;
    width: 60px;
  }
  
  .slogan {
    display: inline-block;
    padding: 2px;
    
    // text-align: center;
  }

  #slogan-title {
    color: $dark-text;
    font-family: Poppins-L;
    font-size: 20px;
    font-weight: bold;
  }

  #slogan-text {
    color: $dark-text;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    // margin-top: -3px;
  }
}

.nav-center {
  display: inline-block;
  vertical-align: top;
  padding: $navCenterPadding;
  // text-align: center;
  margin-top: 5px;

  .nav-links {
    min-width: 530px;
    display: flex;
    justify-content: space-between;
  }

  .nav-link {
    width: auto;
    color: black;
    text-decoration: none;
    margin: 0px 15px 0px 15px;
    font-family: Avenir;
    font-size: 16px;
  }

  .menu-toggle {
    display: none;
    font-size: 40px;
  }
}

.nav-right {
  min-width: $minWidth;
  display: inline-block;
  padding: $navRightPadding;

  #donate-button {
    font-family: Poppins-L;
    font-size: 20px;
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    height: 100%;
  }
}

// Drop Down Menu
.drop-down-menu{
  display: none;
}

/* Media Breaks */
@media only screen and (max-width: 1100px) {
  .nav-right{
    height: 80px;
  }
  
  .nav-center {
    padding-top: 5px;
    .nav-links {
      // border-top: solid $primary-color 1px;
      min-width: auto;
      margin-top: 25px;
      line-height: 30px;
      flex-direction: column; 
      display: none;
      .nav-link{
        width: 100%;
        margin: 0px 0px 0px 0px;
        background-color: white;
      }
    }
    .menu-toggle {
      display: inline-block;
    }
  }
  // .drop-down-menu{
  //   display: block;
  // }
}

@media only screen and (max-width: 600px) {
  .nav-right,
  .nav-left {
    min-width: 100px;
  }

  .nav-right{
    padding: 0px;
  }

  .nav-left {
    .slogan {
      display: none;
    }
  }
}
