<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donate | Radiant Promises</title>
    {% load static %}

    <link
      rel="shortcut icon"
      href="{% static 'img/small_logo.jpg' %}"
      type="image/x-icon"
    />

    <!-- STYLE SHEETS -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/current_priorities.css' %}" />

    <!-- SCRIPTS -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/current_priorities.js' %}" defer></script>
  </head>
  <body>
    <nav>
      <div class="nav-items">
        <div class="nav-left">
          <img
            class="small-logo"
            src="{% static 'img/small_logo.jpg' %}"
            alt=""
          />
          <div class="slogan">
            <h4>Radiant Promises</h4>
            <h6>Help Every Child's Light Shine!</h6>
          </div>
        </div>
        <div class="nav-center">
          <div class="nav-links">
            <a class="nav-link" href="">Home</a>
            <a class="nav-link" href="">About</a>
            <a class="nav-link" href="">Our Target</a>
            <a class="nav-link current-page" href="">Support Us</a>
            <a class="nav-link" href="">Events</a>
            <a class="nav-link" href="">Contact</a>
          </div>
          <div class="menu-toggle">&#9776;</div>
        </div>
        <div class="nav-right">
          <!-- <a class="cart-button" href="/donations/cart"
            >Cart {{items_in_cart}}</a
          > -->
          <!-- <button class="cart">Cart</button> -->
        </div>
      </div>
    </nav>
    <div class="container">
      <h1>Donation Priority</h1>
      <section class="priority-display">
        <div class="priority-content">
          <!-- <div class="display-item">
            <img src="{% static 'img/pine-hills-dining-room.jpg' %}" alt="" />
            <h4>Dining Room</h4>
          </div> -->
          <div class="display-item">
            <!-- <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/D6Ac5JpCHmI?&autoplay=1"
              frameborder="0"
              allowfullscreen
            ></iframe> -->

            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/8kLvWZ-DG6s?&autoplay=1&mute=1"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>

            <!-- <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/-Otg-5p7qug"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe> -->

            <!-- <img src="{% static 'img/pine-hills-dining-room.jpg' %}" alt="" />
            <h4>Dining Room</h4> -->
          </div>
          <!-- <div class="display-item">
            <img src="{% static 'img/pine-hills-dining-room.jpg' %}" alt="" />
            <h4>Dining Room</h4>
          </div> -->
        </div>
      </section>

      <section class="action">
        <div class="progress-bar">
          <div class="progress">Raised</div>
          <div class="leftover"></div>
        </div>
        <div class="give-buttons">
          <div class="give-button" id="give500">$500</div>
          <div class="give-button" id="give250">$250</div>
          <div class="give-button" id="give100">$100</div>
          <div class="give-button" id="give50">$50</div>
        </div>
        <a
          href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=3EAQNYL7VGKFC&currency_code=USD&source=url"
          >Paypal</a
        >
        <!-- <form action="/updatePaymentIntent" method="POST" id="payment-form"> -->
        <form action="stripePayment" method="POST" id="payment-form">
          {% csrf_token %}
          <div class="amount">
            <label for="giveAmount">$</label>
            <input
              type="number"
              name="giveAmount"
              id="giveAmount"
              value="500"
            />
          </div>
          <input type="hidden" id="clientSecret" value="{{clientSecret}}" />
          <div id="card-element"><!--Stripe.js injects the Card Element--></div>
          <button id="payment-submit-button">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay</span>
          </button>
          <p id="card-error" role="alert"></p>
          <p class="result-message hidden">
            Payment succeeded, see the result in your
            <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to
            pay again.
          </p>
        </form>
        <!-- <div class="stripe-form">
          <form  id="payment-form">
            {% csrf_token %}
            <input type="hidden" value="{{client_secret}}">

            <div class="partial-amount-bar">
              <div class="partial-amount-titles">
                <h4>Amount</h4>
              </div>

              <div class="partial-amount-input">
                <label for="partial-amount-other">$</label>
                <input type="number" />
              </div>
            </div>
            <div id="card-element">
              Stripe Inject
            </div>
          </form>
          <button id="submit">Pay</button>
          <p id="card-error" role="alert"></p>
        </div> -->

        <!-- <div class="payments">
          <form action="stripe" method="POST">
            {% csrf_token %}

            <h3>Amount</h3>
            <input type="number" name="donation_amount" />

            <h3>Donor Information</h3>
            <input type="text" placeholder="Last Name" name="last_name" />
            <input
              type="text"
              placeholder="Email Address"
              name="email_address"
            />
            <input
              type="number"
              placeholder="Phone Number"
              name="phone_number"
            />

            <h3>Billing Information</h3>
            <h5>Address</h5>
            <input type="text" placeholder="Line 1" name="address_line_1" />
            <input type="text" placeholder="Line 2" name="address_line_2" />
            <input type="text" placeholder="City" name="address_city" />
            <input type="text" placeholder="State" name="address_state" />
            <input type="text" placeholder="ZIP" name="address_postal_code" />

            <h3>Card Information</h3>
            <input type="text" placeholder="Name on Card" name="name_on_card" />
            <input type="number" placeholder="Card number" name="card_number" />
            <input
              type="number"
              placeholder="Expiration date"
              name="expiration_date"
            />
            <input
              type="number"
              placeholder="Expiration year"
              name="expiration_year"
            />
            <input type="number" placeholder="CVC" name="cvc_number" />

            <button type="submit">Submit</button>
          </form>
        </div> -->
      </section>
      <section class="how-to-give">
        <h1>Additional Ways to Give</h1>
        <div class="row">
          <div class="giving-type">
            <h2 class="giving-header">Real Estate</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
              <span>
                <a href="">Read More...</a>
              </span>
            </p>
          </div>
          <div class="giving-type">
            <h2 class="giving-header">Bequest</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
              <span>
                <a href="">Read More...</a>
              </span>
            </p>
          </div>
          <div class="giving-type">
            <h2 class="giving-header">Vehicle</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
              <span>
                <a href="">Read More...</a>
              </span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="giving-type">
            <h2 class="giving-header">Stocks</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
              <span>
                <a href="">Read More...</a>
              </span>
            </p>
          </div>
          <div class="giving-type">
            <h2 class="giving-header">IRA Rollover</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
              <span>
                <a href="">Read More...</a>
              </span>
            </p>
          </div>
          <div class="giving-type">
            <h2 class="giving-header">Beneficiary Gifts</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
              <span>
                <a href="">Read More...</a>
              </span>
            </p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
