<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donate | Radiant Promises</title>
    {% load static %}

    <link
      rel="shortcut icon"
      href="{% static 'img/small_logo.jpg' %}"
      type="image/x-icon"
    />

    <!-- STYLE SHEETS -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/current_priorities.css' %}" />

    <!-- SCRIPTS -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/current_priorities.js' %}" defer></script>





    <!-- <link rel="stylesheet" href="{% static 'css/stripe_global.css' %}" /> -->
    <!-- <link rel="stylesheet" href="{% static 'css/stripe_testing.css' %}" /> -->
    <!-- <script src="{% static 'js/display.js' %}"></script> -->
    <!-- <script src="{% static 'js/stripe_client.js' %}"></script> -->
  </head>
  <body>
    <nav>
      <div class="nav-items">
        <div class="nav-left">
          <img
            class="small-logo"
            src="{% static 'img/small_logo.jpg' %}"
            alt=""
          />
          <div class="slogan">
            <h4>Radiant Promises</h4>
            <h6>Help Every Child's Light Shine!</h6>
          </div>
        </div>
        <div class="nav-center">
          <div class="nav-links">
            <a class="nav-link" href="">Home</a>
            <a class="nav-link" href="">About</a>
            <a class="nav-link" href="">Our Target</a>
            <a class="nav-link current-page" href="">Support Us</a>
            <a class="nav-link" href="">Events</a>
            <a class="nav-link" href="">Contact</a>
          </div>
          <div class="menu-toggle">&#9776;</div>
        </div>
        <div class="nav-right">
          <!-- <a class="cart-button" href="/donations/cart"
            >Cart {{items_in_cart}}</a
          > -->
          <!-- <button class="cart">Cart</button> -->
        </div>
      </div>
    </nav>
    <div class="container">
      <h1>Donation Priority</h1>
      <section class="priority-display">
        <div class="priority-content">
          <!-- <div class="display-item">
            <img src="{% static 'img/pine-hills-dining-room.jpg' %}" alt="" />
            <h4>Dining Room</h4>
          </div> -->
          <div class="display-item">
            <img src="{% static 'img/pine-hills-dining-room.jpg' %}" alt="" />
            <h4>Dining Room</h4>
          </div>
          <!-- <div class="display-item">
            <img src="{% static 'img/pine-hills-dining-room.jpg' %}" alt="" />
            <h4>Dining Room</h4>
          </div> -->
        </div>
      </section>

      <section class="action">
        <div class="progress-bar">
          <div class="progress">Raised</div>
          <div class="leftover"></div>
        </div>
        <div class="give-buttons">
          <div class="give-button">$500</div>
          <div class="give-button">$250</div>
          <div class="give-button">$100</div>
          <div class="give-button">$50</div>
        </div>
        <form action="addToCart" method="POST">
          {% csrf_token %}
          <div class="hidden_inputs">
            <input type="hidden" name="cost_id" value="{{user.salary.id}}" />
            <input type="hidden" name="title" value="{{user.title}}" />
            <input
              type="hidden"
              name="description"
              value="{{user.first_name}} {{user.last_name}}"
            />
            <input type="hidden" name="quantity" value="3" />
            <input type="hidden" name="full_cost" value="10000" />
            <input type="hidden" name="partial_cost" value="2000" />
            <input type="hidden" name="reoccurance_date" value=2/2/2020>
          </div>

          <div class="partial-amount-bar">
            <div class="partial-amount-titles">
              <h4>Partial Amount</h4>
            </div>
            <div class="partial-amount-inputs">
              <div class="partial-amount-input">
                <label for="partial-amount-remainder">$</label>
                <input
                  name="partial-amount-remainder"
                  type="number"
                  placeholder="25,000"
                />
              </div>
              <div class="partial-amount-input">
                <input
                  name="partial-amount-percentage"
                  type="number"
                  placeholder="25"
                />
                <label for="partial-amount-percentage">%</label>
              </div>
              <div class="partial-amount-input">
                <label for="partial-amount-other">$</label>
                <input type="number" />
              </div>
            </div>
            <div class="partial-amount-labels flex-between">
              <h6 class="partial-amount-label inline-block">Remainder</h6>
              <h6 class="partial-amount-label inline-block"></h6>
              <h6 class="partial-amount-label inline-block">Other</h6>
            </div>
          </div>
          <!-- Currency Data Shown https://codepen.io/559wade/pen/LRzEjj -->

          <!-- <div class="submit-bar">
            <div class="submit-item reoccuring">
              <div class="checkbox reoccuring-check"></div>
              <label>Reoccuring</label>
            </div>
            <div class="submit-item">
              <input
                class="go-to-payment"
                type="submit"
                value="Go To Payment"
              />
            </div>
          </div> -->
        </form>
        <!-- <div id="apple-pay-element"></div>
        <div id="google-pay-element"></div> -->
        <div class="stripe_form">
          <div id="card-element">
            <!-- Stripe Inject -->
          </div>
          <button id="submit">Pay</button>
          <!-- Display a payment form -->
          <!-- <form id="payment-form">
            <input type="hidden" id="client_secret" value="{{client_secret}}" />
            <input type="text" placeholder="First Name" name="first_name" />
            <div id="card-element"> -->
              <!--Stripe.js injects the Card Element-->
            <!-- </div>
            <button id="submit">
              <div class="spinner hidden" id="spinner"></div>
              <span id="button-text">Pay</span>
            </button>
            <p id="card-error" role="alert"></p> -->
            <!-- <p class="result-message hidden">
              Payment succeeded, see the result in your
              <a href="" target="_blank">Stripe dashboard.</a> Refresh the page
              to pay again.
            </p> -->
          <!-- </form> -->
        </div>
        <!-- <div class="payments">
          <form action="stripe" method="POST">
            {% csrf_token %}

            <h3>Amount</h3>
            <input type="number" name="donation_amount" />

            <h3>Donor Information</h3>
            <input type="text" placeholder="Last Name" name="last_name" />
            <input
              type="text"
              placeholder="Email Address"
              name="email_address"
            />
            <input
              type="number"
              placeholder="Phone Number"
              name="phone_number"
            />

            <h3>Billing Information</h3>
            <h5>Address</h5>
            <input type="text" placeholder="Line 1" name="address_line_1" />
            <input type="text" placeholder="Line 2" name="address_line_2" />
            <input type="text" placeholder="City" name="address_city" />
            <input type="text" placeholder="State" name="address_state" />
            <input type="text" placeholder="ZIP" name="address_postal_code" />

            <h3>Card Information</h3>
            <input type="text" placeholder="Name on Card" name="name_on_card" />
            <input type="number" placeholder="Card number" name="card_number" />
            <input
              type="number"
              placeholder="Expiration date"
              name="expiration_date"
            />
            <input
              type="number"
              placeholder="Expiration year"
              name="expiration_year"
            />
            <input type="number" placeholder="CVC" name="cvc_number" />

            <button type="submit">Submit</button>
          </form>
        </div> -->
      </section>
      <!-- <section>

        
        <form id="payment-form">
          <div id="card-element">
        
          </div>
          <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay</span>
          </button>
          <p id="card-error" role="alert"></p>
          <p class="result-message hidden">
            Payment succeeded, see the result in your
            <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to
            pay again.
          </p>
        </form>
      </section> -->
      <section class="how-to-give">
        <h1>Additional Ways to Give</h1>
        <div class="row">
          <div class="giving-type">
            <h2 class="giving-header">Real Estate</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
              <span>
                <a href="">Read More...</a>
              </span>
            </p>
          </div>
          <div class="giving-type">
            <h2 class="giving-header">Bequest</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
              <span>
                <a href="">Read More...</a>
              </span>
            </p>
          </div>
          <div class="giving-type">
            <h2 class="giving-header">Vehicle</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
              <span>
                <a href="">Read More...</a>
              </span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="giving-type">
            <h2 class="giving-header">Stocks</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
              <span>
                <a href="">Read More...</a>
              </span>
            </p>
          </div>
          <div class="giving-type">
            <h2 class="giving-header">IRA Rollover</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
              <span>
                <a href="">Read More...</a>
              </span>
            </p>
          </div>
          <div class="giving-type">
            <h2 class="giving-header">Beneficiary Gifts</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
              <span>
                <a href="">Read More...</a>
              </span>
            </p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
