<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donate | Radiant Promises</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'css/navbar_grid.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'css/display.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/display.js' %}"></script>
  </head>
  <body>
    <nav>
      <div class="nav-items">
        <div class="nav-left">
          <img
            class="small-logo"
            src="{% static 'img/small_logo.jpg' %}"
            alt=""
          />
          <div class="slogan">
            <h4>Radiant Promises</h4>
            <h6>Help Every Child's Light Shine!</h6>
          </div>
        </div>
        <div class="nav-center">
          <div class="nav-links">
            <a class="nav-link" href="">Home</a>
            <a class="nav-link" href="">About</a>
            <a class="nav-link" href="">Our Target</a>
            <a class="nav-link current-page" href="">Support Us</a>
            <a class="nav-link" href="">Events</a>
            <a class="nav-link" href="">Contact</a>
          </div>
          <div class="menu-toggle">&#9776;</div>
        </div>
        <div class="nav-right">
          <button class="cart">Cart</button>
        </div>
      </div>
    </nav>
    <div class="container">
      <section class="monetary border1">
        <h3>Donate Now</h3>
        <div class="reoccuring">
          <div>
            <div class="checkbox reoccuring-check"></div>
            <p>Reoccuring</p>
          </div>
          <!-- <div>
            <label for="">Next Billing Date:</label>
            <input type="date"/>
          </div> -->
        </div>
        <div>
          <input class="number" type="number" placeholder="    $100" />
          <button>Add To Cart</button>
        </div>
      </section>
      <section class="phase1 border1">
        <button class="phase-header">
          <h2 class="centerText">Phase 1</h2>
        </button>
        <div class="phase-content-current">
          <div class="types border2">
            <h3 class="centerText">Organizational Needs</h3>
            <div class="card">
              <button class="card-header">
                <h5>Salary</h5>
                <div class="arrow-large left"></div>
              </button>
              <div class="card-body">
                <div class="salary-position item">
                  <div class="item-header">
                    CEO: $Salary #
                    <i class="arrow-small left"></i>
                  </div>
                  <div class="item-body">
                    <div class="item-body-top">
                      <h4 class="item-body-title">Dolly Chacon</h4>
                      <img
                        class="item-body-image"
                        src="{% static 'img/Dolly.jpg' %}"
                        alt=""
                      />
                    </div>
                    <p>
                      I envision a multicultural world where child abuse and
                      abandonment are abolished. I am here to help our youth
                      believe and understand how precious, cherished, loved and
                      honored they are.
                    </p>
                    <h6>Certifications</h6>
                    <b class="certifications">
                      Business Administrator, Retired Pastor, Certified Master
                      Life Coach, Marriage Coach, Mental Health Wellness Coach,
                      Motivational Speaker, Talk Show Host.
                    </b>
                    <div class="action">
                      <form action="">
                        <div class="action-type">
                          <input type="radio" />
                          <!-- Create ability to check & uncheck radio inputs -->
                          <label for="amount">Amount</label>
                          <input
                            type="number"
                            name="amount"
                            data-type="currency"
                            pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
                            disabled
                          />
                          <!-- Currency Data Shown https://codepen.io/559wade/pen/LRzEjj -->
                        </div>

                        <div class="action-type">
                          <input type="radio" name="" id="" />
                          <label for="remainder">Remainder</label>
                          <input
                            type="number"
                            name="remainder"
                            id=""
                            disabled
                          />
                        </div>

                        <div class="action-type">
                          <input type="radio" name="" id="" />
                          <label for="full">Full Amount</label>
                          <input
                            class="number"
                            type="number"
                            placeholder="     # of years"
                            disabled
                          />
                        </div>

                        <button>Add to Cart</button>
                      </form>
                    </div>
                    <!-- <p>
                      Business Administrator, Retired Pastor, Certified Master
                      Life Coach, Marriage Coach, Mental Health Wellness Coach,
                      Motivational Speaker, Talk Show Host and Spiritual Mom to
                      teens and young adults.
                    </p> -->
                    <br />
                    <hr />
                  </div>
                </div>
                <div class="salary-position item">
                  <div class="item-header">
                    Lead Applications Developer: $Salary #
                    <i class="arrow-small left"></i>
                  </div>
                  <div class="item-body">
                    <div class="item-body-top">
                      <h4 class="item-body-title">Ben Jensen</h4>
                      <img
                        class="item-body-image"
                        src="{% static 'img/Ben.jpg' %}"
                        alt=""
                      />
                    </div>
                    <p>Devil Dog turned Child of God.</p>
                    <p>
                      Full Stack Developer, Former Intelligence Officer,
                      Mechanical Engineer
                    </p>
                    <br />
                    <hr />
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <button class="card-header">
                <h5>Property</h5>
                <div class="arrow-large left"></div>
              </button>
              <div class="card-body">
                <div class="item">
                  <div class="item-header">
                    Lodge: $1.5M
                    <i class="arrow-small left"></i>
                  </div>
                  <div class="item-body border2">
                    <div class="item-body-top">
                      <h4 class="item-body-title">Pine Hills Lodge</h4>
                      <img
                        class="item-body-image-portrait"
                        src="{% static 'img/pine-hills-lodge.jpg' %}"
                        alt=""
                      />
                    </div>
                    <p>Peaceful retreat in the mountains of Julian</p>
                    <p>
                      Serene woodland lodge, composed of cabins, a main building
                      and a 4-unit bungalow, dates from 1912.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <button class="card-header">
                <h5>Items</h5>
                <div class="arrow-large left"></div>
              </button>
              <div class="card-body">
                <div class="item-header">
                  iPad: $1,000
                  <i class="arrow-small left"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="prices border2">
            <h3 class="centerText">Donate By Cost?</h3>
            <h5 class="price-header centerText">$0-$100</h5>
            <div class="zero-one_hundred item-list">
              <div class="item-header">
                Keyboard <i class="arrow-small left"></i>
              </div>
              <div class="item-header">
                Mouse <i class="arrow-small left"></i>
              </div>
              <div class="item-header">
                Pens <i class="arrow-small left"></i>
              </div>
              <div class="item-header">
                Notepad <i class="arrow-small left"></i>
              </div>
              <div class="item-header">
                Sticky Notes <i class="arrow-small left"></i>
              </div>
            </div>
            <h5 class="price-header centerText">$100-$10,000</h5>
            <div class="one_hundred-ten_thousand">
              <div class="item-header">
                iPad: $1,000 <i class="arrow-small left"></i>
              </div>
            </div>
            <h5 class="price-header centerText">$10,000-$1,000,000</h5>
            <div class="ten_thousand-one_million">
              <div class="item-header">
                CEO Salary: $??? <i class="arrow-small left"></i>
              </div>
              <div class="item-header">
                Software Developer Salary: $??? <i class="arrow-small left"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="phase2 border1">
        <button class="phase-header">
          <h2 class="centerText">Phase 2</h2>
        </button>
        <div class="phase-content-inactive">
          <div class="types border2">
            <h3 class="centerText">Organizational Needs</h3>
            <div class="card">
              <button class="card-header">
                <h5>Salary</h5>
                <div class="arrow-large left"></div>
              </button>
              <div class="card-body">
                <div class="salary-position item-header">
                  CEO: $Salary #
                  <i class="arrow-small left"></i>
                </div>
                <div class="salary-position item-header">
                  Software Developer: $Salary
                  <i class="arrow-small left"></i>
                </div>
              </div>
            </div>

            <div class="card">
              <button class="card-header">
                <h5>Property</h5>
                <div class="arrow-large left"></div>
              </button>
              <div class="card-body">
                <div class="item-header">
                  Pine Hills Lodge: $1.5M
                  <i class="arrow-small left"></i>
                </div>
              </div>
            </div>

            <div class="card">
              <button class="card-header">
                <h5>Vehicles</h5>
                <div class="arrow-large left"></div>
              </button>
              <div class="card-body">
                <div class="item-header">
                  Need Vehicles?: $Cost
                  <i class="arrow-small left"></i>
                </div>
              </div>
            </div>

            <div class="card">
              <button class="card-header">
                <h5>Items</h5>
                <div class="arrow-large left"></div>
              </button>
              <div class="card-body">
                <div class="item-header">
                  iPad: $1,000
                  <i class="arrow-small left"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="prices border2">
            <h3 class="centerText">Donate By Cost?</h3>
            <h5 class="price-header centerText">$0-$100</h5>
            <div class="zero-one_hundred item-list">
              <div class="item-header">
                Keyboard <i class="arrow-small left"></i>
              </div>
              <div class="item-header">
                Mouse <i class="arrow-small left"></i>
              </div>
              <div class="item-header">
                Pens <i class="arrow-small left"></i>
              </div>
              <div class="item-header">
                Notepad <i class="arrow-small left"></i>
              </div>
              <div class="item-header">
                Sticky Notes <i class="arrow-small left"></i>
              </div>
            </div>
            <h5 class="price-header centerText">$100-$10,000</h5>
            <div class="one_hundred-ten_thousand">
              <div class="item-header">
                iPad: $1,000 <i class="arrow-small left"></i>
              </div>
            </div>
            <h5 class="price-header centerText">$10,000-$1,000,000</h5>
            <div class="ten_thousand-one_million">
              <div class="item-header">
                CEO Salary: $??? <i class="arrow-small left"></i>
              </div>
              <div class="item-header">
                Software Developer Salary: $??? <i class="arrow-small left"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
