<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Support Us | Radiant Promises</title>
    {% load static %} {% load sass_tags %}

    <link
      rel="shortcut icon"
      href="{% static 'img/small_logo.jpg' %}"
      type="image/x-icon"
    />

    <!-- STYLE SHEETS -->
    <link href="{% sass_src 'sass/global.scss' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/support.css' %}" />

    <!-- SCRIPTS -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/current_priorities.js' %}" defer></script>

    <!-- Current Page Reference -->
    <script src="{% static 'js/global.js' %}"></script>
    <input id="Page" type="hidden" value="{{page}}" />
  </head>
  <body>
    <nav>{% include "components/navbar.html" %}</nav>
    <div class="container">
      <h1>Radiant Promises</h1>
      <section class="priority-display">
        <iframe
          id="priority-video"
          src="https://www.youtube.com/embed/8kLvWZ-DG6s?&autoplay=1&mute=1"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </section>

      <section class="action">
        <div class="progress-bar">
          <div class="progress" style="width: {{percentageRaised}}%;">
            Raised
          </div>
          <div class="progress-number">${{fundsRaised}}</div>
          <div class="leftover" style="width: {{percentageRequired}}%;">
            ${{fundsRequired}}
          </div>
        </div>
        <div class="give-buttons">
          <button class="give-button" id="give500">$500</button>
          <button class="give-button" id="give250">$250</button>
          <button class="give-button" id="give100">$100</button>
          <button class="give-button" id="give50">$50</button>
        </div>

        <a
          href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=3EAQNYL7VGKFC&currency_code=USD&source=url"
          ><img
            src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png"
            alt="Check out with PayPal"
        /></a>
        <div class="stripe-payment">
          <button id="pay-with-card">Pay with Card</button>
          <!-- <form action="/updatePaymentIntent" method="POST" id="payment-form"> -->
          <form action="stripePayment" method="POST" id="payment-form">
            {% csrf_token %}
            <div class="amount">
              <label for="giveAmount">$</label>
              <input
                type="number"
                name="giveAmount"
                id="giveAmount"
                value="500"
              />
            </div>
            <input type="hidden" id="clientSecret" value="{{clientSecret}}" />
            <div id="card-element">
              <!--Stripe.js injects the Card Element-->
            </div>
            <button id="payment-submit-button">
              <div class="spinner hidden" id="spinner"></div>
              <span id="button-text">Pay</span>
            </button>
            <div id="powered-by-stripe">
              Powered by Stripe: A secure PCI compliant Payment Provider
            </div>
            <p id="card-error" role="alert"></p>
            <p class="result-message hidden">
              Payment succeeded, see the result in your
              <a href="" target="_blank">Stripe dashboard.</a> Refresh the page
              to pay again.
            </p>
          </form>
        </div>
      </section>
      <section class="how-to-give">
        <h1>Additional Ways to Give</h1>
        <div class="row">
          <div class="giving-type">
            <h2 class="giving-header">Real Estate</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
              <span>
                <a href="">Read More...</a>
              </span>
            </p>
          </div>
          <div class="giving-type">
            <h2 class="giving-header">Vehicle</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
              <span>
                <a href="">Read More...</a>
              </span>
            </p>
          </div>
        </div>
      </section>
      <section class="banner thank-you">
        <h3>Thank you for your support.</h3>
      </section>
      <section>{% include "components/quicklinks.html" %}</section>
      <footer>{% include "components/footer.html" %}</footer>
    </div>
  </body>
</html>
