// SASS VARIABLES
$primary-color: #ec5f87;
$secondary-color: #203e8c;
$tertiary-color: #7cabf4;
$light-text: white;
$dark-text: black;
$text-font: Avenir;

.container {
  text-align: center;
  // padding: 20px 5px 5px 5px;

  // h1 {
  //   font-family: Dancing;
  //   font-size: 40px;
  //   color: $primary-color;
  //   border-bottom: solid gray 2px;
  //   max-width: 400px;
  //   margin: auto;
  // }

  .priority-display {
    width: 50vw;
    height: 33vw;
    padding: 10px 10px 7px 10px;
    margin: auto;
    margin-top: 40px;
    border-radius: 1vw;
    -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);
    box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    #priority-video {
      width: 100%;
      height: 100%;
    }
  }

  .action {
    width: 45vw;
    padding: 10px 0px 20px 0px;
    line-height: 25px;
    margin: 50px auto 20px auto;
    -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.29);
    box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.29);
    border: solid 1px;
    border-color: $primary-color;
    border-radius: 5px;

    .progress-bar {
      height: 25px;
      width: 90%;
      display: flex;
      justify-content: space-between;
      margin: 5px auto 0px auto;
      border: solid black 1px;
      border-radius: 15px;

      .progress {
        display: inline-block;
        height: 100%;
        background-color: #74d773;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
      }
      .progress-number {
        position: relative;
        top: 21px;
        left: -18px;
        height: 20px;
        width: 1px;
        font-size: 12px;
        font-weight: bold;
      }

      .leftover {
        display: inline-block;
        height: 100%;
        background-color: $primary-color;
        opacity: 0.5;
        color: black;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
      }
    }

    .progress-number-collapsed {
      display: none;
      padding: 5px;
      height: 20px;
      font-family: $text-font;
      font-size: 18px;
      font-weight: bold;
    }

    .give-buttons {
      margin: 30px 0px 20px 0px;
      display: flex;
      justify-content: space-around;

      .give-button {
        font-family: $text-font;
        display: inline-block;
        color: $light-text;
        padding: 10px;
        width: 75px;
        background-color: #045091;
        opacity: 0.9;
        border: solid gray 1px;
        border-radius: 5px;
      }
    }

    .stripe-payment {
      .payment-button {
        margin-top: 10px;
        width: 170px;
        height: 32px;
        background-color: $primary-color;
        text-decoration: none;
        color: $light-text;
        border: none;
        border-radius: 5px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }

      #payment-form {
        display: none;

        .hidden {
          display: none;
        }

        #card-element {
          height: 25px;
          width: 300px;
          padding: 5px;
          margin: 10px auto 5px auto;
          -moz-box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
            0px 2px 5px 0px rgba(50, 50, 93, 0.1),
            0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
          -webkit-box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
            0px 2px 5px 0px rgba(50, 50, 93, 0.1),
            0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
            0px 2px 5px 0px rgba(50, 50, 93, 0.1),
            0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
        }

        #payment-submit-button {
          height: 25px;
          width: 300px;
          background-color: #045091;
          opacity: 0.8;
          color: white;
        }

        #powered-by-stripe {
          color: gray;
          font-size: 10px;
          height: 20px;
          padding-bottom: 5px;
          vertical-align: top;
        }
      }
    }

    .amount {
      position: relative;
      right: 5px;

      #giveAmount {
        width: 60px;
        text-align: center;
        border: solid 1px gray;
        border-radius: 5px;
      }
    }

    form {
      width: 100%;
      padding: 10px;
    }
  }

  .how-to-give {
    margin: 40px 0px 40px 0px;
    padding: 10px;

    .additional-ways-to-give {
      font-family: Dancing;
      font-size: 40px;
      color: $primary-color;
      border-bottom: solid gray 2px;
      max-width: 400px;
      margin: auto;
    }

    .row {
      display: flex;
      justify-content: space-around;
      margin-top: 30px;

      .giving-type {
        width: 30%;
        text-align: justify;

        .giving-header {
          font-family: Lobster;
          margin-bottom: 2px;
          color: #045091;
        }
      }
    }
  }

  .thank-you {
    /* height: 10vw; */
    padding: 7vw;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    .priority-display {
      height: 60vw;
    }

    .priority-display,
    .action {
      width: 90vw;
    }

    .how-to-give {
      h1 {
        margin-bottom: 20px;
      }

      .row {
        flex-direction: column;
        align-content: center;

        margin: auto;
        width: 60vw;
        margin-top: 0px;

        .giving-type {
          width: 100%;

          .giving-header {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .container {
    .action {
      .progress-bar {
        .progress,
        .leftover {
          font-size: 0px;
        }
        .progress-number {
          display: none;
        }
      }
      .progress-number-collapsed {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .container {
    .how-to-give {
      h1 {
        padding-bottom: 10px;
      }
      .row {
        width: 90vw;
        .giving-type {
          .giving-header {
            font-size: 5.4vw;
            text-align: center;
            margin: 20px 0px 10px 0px;
          }
          p {
            text-align: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .container {
    .action {
      .give-buttons{
        .give-button{
          width: 50px;
        }
      }

      .stripe-payment {
        #payment-form {
          #card-element,
          .payment-button,
          #payment-submit-button {
            width: 70vw;
          }
        }
      }
    }
  }
}
